---
import MainHeader from '../components/MainHeader.astro';
import MainSection from '../components/MainSection.astro';
import ModelYSection from '../components/ModelYSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tesla Landing">
	<MainHeader/>
	
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden">
		<div class="snap-center">
			<MainSection/>
		</div>
		<div class="snap-center">
			<ModelYSection/>
		</div>
		<div class="snap-center">
			<MainSection/>
		</div>
		<div class="snap-center">
			<ModelYSection/>
		</div>
		<div class="snap-center">
			<MainSection/>
		</div>
		<div class="snap-center">
			<ModelYSection/>
		</div>
	</main>
</Layout>
